.container
  .row.mb-3
    .col-md-12
      .card
        .card-body
  .row.mb-3
    .col-md-12
      .card
        .card-body
  .row.mb-3
    .col-md-12
      .card
        .card-body
  .row.mb-3
    .col-md-12
      .card
        .card-body                              