#dinamic-form
  .container
    .card
      .card-body
        .row
          .col-12
            .text-center
              %h5
                %b Parabéns, requerimento realizado com sucesso!

        .row
          .col-12
            Protocolo #{@requeriment.id}                  
                  