.container
  .row
    .col-12
      .card
        .card-body
          = simple_form_for @cadastre, remote: true do |f|
            = f.input :cpf, input_html: { class: 'cpf'}, label: false
            = f.submit "Pesquisar CPF", class: 'btn btn-success btn-block'