.container 
  .row
    .col-6
      .card
        .card-body.text-center
          = image_tag 'portal.png'
          .title-icon Portal CODHAB
    .col-6
      .card
        .card-body.text-center
          = image_tag 'portal.png'
          .title-icon Ações urbanas                
  .mt-3
  .row
    .col-6
      .card
        .card-body.text-center
          = image_tag 'portal.png'
          .title-icon Mobilização social
    .col-6
      .card
        .card-body.text-center
          = image_tag 'portal.png'
          .title-icon Habita Brasília              