.container
  .row
    .col-12
      - if @dependents.present?
        - @dependents.each do |dependent|
          %a{href: "#{candidate.edit_attendance_ticket_step_incomde_path(@ticket, @ticket_step, dependent)}"}
            .card.mt-4
              .card-body
                .row
                  .col-12
                    %p
                      %b= dependent.name
                    = dependent.kinship.name rescue t(:no_info)
      - else
        .card.mt-4
          .card-body
            .row
              .col-12.text-center
                %small Não existem dependentes cadastrados.

