.container
  .row.mt-2
    .col-md-12
      = simple_form_for @ticket_document, url: candidate.attendance_ticket_ticket_step_ticket_step_documents_path(@ticket, @ticket_step),  html: {id: 'form-upload'} do |f|
        %label.btn.btn-primary.btn-block
          %b Anexar foto
          %span{style: 'display: none'}
            = f.input :attachment, as: :file
            = f.input :document_type_id, as: :hidden
          .progress-content
      %script#template-upload{:type => "text/x-tmpl"}
        .upload
          .progress
            .progress-bar{style: "width: 0%"}
  .row.mt-2
    .col-md-12.content-index            
      = render 'show'