#modal-error.modal-dialog.modal-dialog-centered
  .modal-content
    .modal-header
      %h5.modal-title
        Ops...
      %a.close.modal-close
        %i.fa.fa-close
    .modal-body.text-center
      %h6 O CPF informado é inválido, favor tentar novamente. 
      .mt-4
      = link_to "Tentar novamente", "javascript:void(0)", class: 'btn btn-danger btn-block modal-close'            