#modal-error.modal-dialog.modal-dialog-centered
  .modal-content
    .modal-body
      .row
        .col-12
          .error-icon
            %i.fa.fa-exclamation-triangle
      .row.mt-4
        .col-12
          .content
            %h4 Ops... 
            %h6 O CPF informado é inválido, favor tentar novamente.        
      .row.mt-4
        .col-12
          .content-error
            = link_to "Entendi, tentar novamente", "javascript:void(0)", class: "modal-close btn btn-danger btn-block"              