- @requeriment.requeriment_documents.order(id: :desc).each_with_index do |document, index|
  
  .card#card-list
    .card-body.card-header
      .text-center
        %b Imagem #{@requeriment.requeriment_documents.count - index} 
    .card-body
      .row
        .col-12.text-center
          = link_to image_tag(document.attachment.thumb.url, class: 'img-fluid img-thumbnail'), "#" if document.attachment?
    .card-body.text-center
      = link_to external.requeriment_requeriment_document_delete_path(@requeriment, document), remote: true, class: 'remove-image btn btn-danger' do
        Remover imagem
  
