.modal-dialog.modal-dialog-centered
  .modal-content
    .modal-body
      .row
        .col-12.text-center
          = image_tag @requeriment_document.attachment.thumb.url, class: 'img-fluid img-thumbnail'   
      .row.mt-4
        .col-12
          = link_to "Fechar visualização", "#", class: 'btn btn-primary btn-block modal-close'