#modal-danger.modal-dialog.modal-dialog-centered
  .modal-content
    .modal-header
      %h5.modal-title
        Ops...
      %a.close
        %i.fa.fa-close
    .modal-body.text-center
      .mt-4
      %h6 Seu CPF ou senha esta incorreto. Favor verifique e tente novamente.
      .mt-4
      = link_to "Tentar novamente", "javascript:void(0)", class: 'btn btn-success btn-block modal-close'