- if @session.errors.any?
  $("#modal").html("#{escape_javascript(render 'error')}");
  $("#modal").modal("show");
- else
  $("#modal").html("#{render 'success'}");
  $("#modal").modal("show");

update_js();