= simple_form_for @ticket, remote: true do |f|
  = f.input :category_id, label: false, as: :select, collection: current_candidate.policy.categories_allowed, include_blank: t(:include_blank)
  = f.submit "Iniciar atendimento", class: 'btn btn-success btn-block', data: { disable_with: t(:disable_with) }