.container
  .row
    .col-md-12
      .card
        .card-body
          .row
            .col-12
              .title
                %b 1ยบ Passo
              %p Selecione o atendimento que deseja iniciar.
              .divider
          .row
            .col-12.form-content
              = render 'form'
      