.container
  .row
    .col-md-12
      .card
        .card-body
          .title
            %b 1ยบ Passo
          %p Selecione o atendimento que deseja iniciar.
          .divider
          = render 'form'
      