.row
  .col-12.text-center.pt-5
    %p= image_tag 'document.png'
    .divider
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio massa, accumsan eget viverra at, 
    placerat vitae ante. Nulla varius sit amet tellus in faucibus. Duis a erat justo. Duis pellentesque justo at consectetur cursus. 
    Ut non libero dolor. Donec sed ante nisi. Pellentesque aliquam imperdiet mauris a tincidunt. 
.divider
.row
  .col-12 
    = link_to "Iniciar novo requerimento", candidate.new_attendance_requeriment_path, class: 'btn btn-success btn-block'