- if @contact.errors.any?
  $(".form-content").html("#{escape_javascript(render 'form')}");
  $(window).scrollTop(0);
- else
  $(".modal").html("#{escape_javascript(render 'success')}");
  $(".modal").modal('show');
  setTimeout(function() { window.location.href = "#{candidate.root_path}"; }, 3000)
