- if @requeriment_attachment.errors.any?
  $(".content-form").html("#{escape_javascript(render 'form')}");
- else
  $(".content-index").html("#{escape_javascript(render 'index')}");
  $("#modal").modal('hide');

update_js();