.container
  .card
    .card-body  
      .row
        .col-12
          .text-center
            .title 
              %b 4 de 4 passos
            .subtitle Realize anexo de fotos (Opcional)    
          .divider
      .row
        .col-12                          
          = simple_form_for [@requeriment, @requeriment_attachment], html: {id: 'form-upload'} do |f|
            %label.btn.btn-primary.btn-block
              %b Anexar foto
              %span{style: 'display: none'}
                = f.input :attachment, as: :file
              .progress-content
          %hr/
          %script#template-upload{:type => "text/x-tmpl"}
            .upload
              .progress
                .progress-bar{style: "width: 0%"}
                    
      .row.mt-2
        .col-md-12
          = link_to "Finalizar requerimento", external.requeriments_path, class: 'btn btn-success btn-block', data: { disable_with: t(:disable_with)}            
      %hr/
      .row.mt-2
        .col-md-12.content-index            
          = render 'index'          