.container
  .row.mt-2
    .col-12
      %a{href: "#{external.new_entity_path}"} 
        .card
          .card-body
            .row
              .col-12
                .title.bold Pesquisar CNPJ
                .title-xs Pesquisar dados da entidade através do CNPJ
  .row.mt-2
    .col-12
      %a{href: "#{entity.root_path}"}  
        .card
          .card-body
            .row
              .col-12
                .title.bold Minha entidade
                .title-xs Acessar a área restrita de entidades
                 
