#header {
  height: 50px;
  background-color: #ffc640;
  margin-bottom: 25px;
}

#header .row {
  margin-right: 0;
  margin-left: 0;
}

#header .title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  vertical-align: middle;
}


#modal-danger .modal-header {
  background-color: #a22e2e;
  color: white;
}

#modal-danger .modal-title {
  font-weight: bold;
}