.modal-dialog.modal-dialog-centered
  .modal-content
    .modal-header
      %h6.modal-title.bold
        Parabéns!
      %a.close.modal-close
        %i.fa.fa-close
    .modal-body.text-center
      %h6 Dados salvos com sucesso, carregando documentação...