#header
  .row.mb-5
    .col-2
      = link_to :back, class: 'back-button' do
        %i.fa.fa-arrow-left
    .col-8
      .title
        %p 
          #{@header_title.to_s.humanize}
          %br/
          %small #{@header_subtitle.to_s.humanize}
    .col-2
      %a{href: "javascript:void(0)", class: 'home-button'}
        %i.fa.fa-home

